button.brandcarousel {
  background-color: var(--darkContrast);
  padding: 0 0.2em;
  margin: 0;
  font-size: 1.5em;
  border:0;
  margin-bottom: 0.6em;
  font-weight: 700;
}
button.prev {
  margin-right: 0.1em;
}
button.next {
  margin-left: 0.1em;
}
button.inactive {
  background-color: var(--background);
  color: var(--dark);
  pointer-events: none;
}
.brand-carousel {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0;
  max-width: 390px;
  margin: 0 auto;
}
.brand-list {
  max-width: 100%;
  width: 400px;
}