.tribe-carousel-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0;
  max-width: 90%;
  margin: 0 auto;
}

/* Buttons */
.tribe-scroll-btn {
  background-color: var(--darkContrast);
  padding: 0 0.2em;
  margin: 0;
  font-size: 1.5em;
  border: 0;
  margin-bottom: 0.6em;
  font-weight: 700;
}
.tribe-scroll-btn.prev { margin-right: 0.1em; }
.tribe-scroll-btn.next { margin-left: 0.1em; }
.tribe-scroll-btn.inactive {
  background-color: var(--background);
  color: var(--dark);
  pointer-events: none;
}

/* Track */
.tribe-track {
  max-width: 900px;
  width: 100%;
  text-align: center;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0.5rem 0;
  gap: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tribe-track::-webkit-scrollbar { display: none; }

/* Slide */
.tribe-slide {
  flex: 0 0 100%;
  min-width: 100%;
  max-width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-circle-card {
  inline-size: calc(var(--size, 96px) + 16px);
}

.profile-image { width: 100%; height: 100%; display: block; object-fit: cover; object-position: center; pointer-events: none; }
.profile-mask  { width: 88%;  height: 88%;  display: block; object-fit: contain; object-position: center; pointer-events: none; }